# Virtual environment files
venv/
.venv/
env/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Data files - should not be on GitHub!
*.json
*.sqlite
*.db